*{
    box-sizing: border-box;
    transition: 1s;
}

header{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    background-color: #A4B8DB;
}
header img{
    height: 100px;
}
body{
    background-color: #363C47;
   /*background-color: #817261;*/
}
main{
    margin: 1rem;
}
main img{
    height: 300px;
    border: .2rem, solid, black;
}
main img:hover{
    height: 350px;
}
main #intro{
    border: .25rem, solid, black;
    margin-bottom: 1rem;
    background-color:  #8D9FBC;
    padding-left: 1rem;
    padding-right: 1rem;

}
#runnerUp{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}
main .topShop{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1rem;
    border: .25rem, solid, black;
    background-color: #8D9FBC;
    padding: 1rem;
}
main article{
    display: flex;
    gap: 3rem;
    border: .25rem, solid, black;
    background-color: #8D9FBC;
    padding: 1rem;
    margin-top: 1rem;
}
main h2{
    text-align: center;
    padding-bottom: 3rem;   
}
@media (max-width: 900px){
    main article{
        flex-direction: column;
        align-items: center;
    }
    #runnerUp{
        flex-direction: column;
    }
    main img{
        height: 200px;
        max-width: 300px;
    }
    main img:hover{
        height: 175px;
    }
}