@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    padding: .1rem;
    background-color: #A4B8DB;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}

header img{
    height: 100px;
}

body{
    background-color: #363C47;

}

main{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #intro{
    width: 50rem;
    border: .25rem solid black;
    margin-bottom: 1rem;
    background-color:  #8D9FBC;
    padding-left: 1rem;
    padding-right: 1rem;

}

#runnerUp{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

main .notTopShop{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: .25rem solid black;
    background-color: #8D9FBC;
    padding: 1rem;
}

#topSpot img{
    width: 400px ;
    border: .2rem solid black;
}
.notTopShop img{
    width: 80%;
    border: .2rem solid black;
}

main #topSpot{
    width: 60rem;
    display: flex;
    gap: 3rem;
    border: .25rem solid black;
    background-color: #8D9FBC;
    padding: 1rem;
    margin-top: 1rem;
}

main h2{
    text-align: center;
    padding-bottom: 3rem;   
}

footer{
    background-color: #363C47;
    width: 100%;
    margin-left: 0;
    color: white;
    text-align: center;
    margin-top: 1rem;

}

@media (max-width: 900px){
    main article{
        flex-direction: column;
        align-items: center;
    }
    #runnerUp{
        flex-direction: column;
    }
    main img{
        height: 200px;
        max-width: 300px;
    }
    main img:hover{
        height: 175px;
    }
}